.trainer {
  margin-left: 15%;
  margin-right: 15%;
  background: #eeeeee;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.trainer-item, input {
  width: 110px;
  padding: 5px 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  background: darkgray;
}

main {
  margin-bottom: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 30px;
}

input {
  background: white;
}
