.team {
  margin-left: 15%;
  margin-right: 15%;
  background: #eeeeee;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 30px;
}

.main {
  padding-bottom: 30px;
}

.header button {
  border: 0;
  height: 30px;
  width: 130px;
  color: white;
  background: #ea5455;
}

main {
  align-content: center;
}
